form.form(name="vm.carpoolForm",
    ng-class="{'editing': vm.state === 'edit', 'adding': vm.state === 'add'}")
    .form-group
        .form-item
            .form-label
                span DriverName:
                span.form-value {{vm.carpool.drivername}}
            .form-field
                .error-message(ng-messages="vm.carpoolForm.modelInput.$error",
                    ng-show="vm.carpoolForm.modelInput.showError")
                    p(ng-message="required") Model filed is required!
                lx-text-field.form-control(label="Driver Name", error="vm.carpoolForm.modelInput.$invalid && vm.carpoolForm.modelInput.$dirty")
                    input(name="modelInput", type="text", ng-model="vm.carpool.model", required)
                .error-icon(ng-show="vm.carpoolForm.modelInput.$invalid && vm.carpoolForm.modelInput.$dirty")
                    i.icon.icon--red.icon--circled.mdi.mdi-minus.icon-breath-animation(
                        ng-mouseenter="vm.carpoolForm.modelInput.showError = true",
                        ng-mouseleave="vm.carpoolForm.modelInput.showError = false"
                    )
        .form-item
            .form-label
                span Phone:
                span.form-value {{vm.carpool.phone}}
            .form-field
                .error-message(ng-messages="vm.carpoolForm.modelInput.$error",
                    ng-show="vm.carpoolForm.modelInput.showError")
                    p(ng-message="required") Phone filed is required!
                lx-text-field.form-control(label="Phone", error="vm.carpoolForm.modelInput.$invalid && vm.carpoolForm.modelInput.$dirty")
                    input(name="phoneInput", type="text", ng-model="vm.carpool.phone", required)
                .error-icon(ng-show="vm.carpoolForm.modelInput.$invalid && vm.carpoolForm.modelInput.$dirty")
                    i.icon.icon--red.icon--circled.mdi.mdi-minus.icon-breath-animation(
                        ng-mouseenter="vm.carpoolForm.modelInput.showError = true",
                        ng-mouseleave="vm.carpoolForm.modelInput.showError = false"
                    )
       .form-item
            .form-label
                span Location:
                span.form-value {{vm.carpool.location}}
            .form-field
                .error-message(ng-messages="vm.carpoolForm.locationInput.$error",
                    ng-show="vm.carpoolForm.locationInput.showError")
                    p(ng-message="required") Location filed is required!                   
                lx-text-field.form-control(label="Location", error="vm.carpoolForm.locationInput.$invalid && vm.carpoolForm.locationInput.$dirty")
                    input(name="locationInput", type="text", ng-model="vm.carpool.location",
                        aio-validate-number, required)
                .error-icon(ng-show="vm.carpoolForm.locationInput.$invalid && vm.carpoolForm.locationInput.$dirty")
                    i.icon.icon--red.icon--circled.mdi.mdi-minus.icon-breath-animation(
                        ng-mouseenter="vm.carpoolForm.locationInput.showError = true",
                        ng-mouseleave="vm.carpoolForm.locationInput.showError = false"
                    )
    .form-item
            .form-label
                span StartingTime:
                span.form-value {{vm.carpool.startingtime | date: 'MMMM d, yyyy'}}
            .form-field
                .error-message(ng-show="vm.startingtimeError")
                    p Starting time filed is required!
                lx-date-picker.form-control(label="StartingTime", model="vm.carpool.startinngtimeDate",
                    ng-click="vm.hasClicked = true")
                .error-icon(ng-show="!vm.carpool.startingtimeDate && vm.hasClicked")
                    i.icon.icon--red.icon--circled.mdi.mdi-minus.icon-breath-animation(
                        ng-mouseenter="vm.startingtimeError = true",
                        ng-mouseleave="vm.startingtimeError = false"
                    )
    .form-item
            .form-label
                span Destination:
                span.form-value {{vm.carpool.destination}}
            .form-field
                .error-message(ng-messages="vm.carpoolForm.destinationInput.$error",
                    ng-show="vm.carpoolForm.destinationInput.showError")
                    p(ng-message="required") Destination filed is required!
                lx-text-field.form-control(label="Destination", error="vm.carpoolForm.destinationInput.$invalid && vm.carpoolForm.destinationInput.$dirty")
                    input(name="destinationInput", type="text", ng-model="vm.carpool.destination", required)
                .error-icon(ng-show="vm.carpoolForm.destinationInput.$invalid && vm.carpoolForm.destinationInput.$dirty")
                    i.icon.icon--red.icon--circled.mdi.mdi-minus.icon-breath-animation(
                        ng-mouseenter="vm.carpoolForm.destinationInput.showError = true",
                        ng-mouseleave="vm.carpoolForm.destinationInput.showError = false"
                    )
    .form-item
            .form-label
                span CarDetails:
                span.form-value {{vm.carpool.cardetails}}
            .form-field
                .error-message(ng-messages="vm.carpoolForm.cardetailsInput.$error",
                    ng-show="vm.carpoolForm.cardetailsInput.showError")
                    p(ng-message="required") Car details filed is required!
                lx-text-field.form-control(label="CarDetails", error="vm.carpoolForm.cardetailsInput.$invalid && vm.carpoolForm.cardetailsInput.$dirty")
                    input(name="cardetailsInput", type="text", ng-model="vm.carpool.cardetails", required)
                .error-icon(ng-show="vm.carpoolForm.cardetailsInput.$invalid && vm.carpoolForm.cardetailsInput.$dirty")
                    i.icon.icon--red.icon--circled.mdi.mdi-minus.icon-breath-animation(
                        ng-mouseenter="vm.carpoolForm.cardetailsInput.showError = true",
                        ng-mouseleave="vm.carpoolForm.cardetailsInput.showError = false"
                    )
    .form-group
        .form-item
            .form-label
                span Seats:
                span.form-value {{vm.carpool.seats}}
            .form-field
                .error-message(ng-messages="vm.carpoolForm.seatsInput.$error",
                    ng-show="vm.carpoolForm.seatsInput.showError")
                    p(ng-message="required") Seats filed is required!
                    p(ng-message="number") Seats must be a valid number!
                lx-text-field.form-control(label="Seats Size", error="vm.carpoolForm.seatsInput.$invalid && vm.carpoolForm.seatsInput.$dirty")
                    input(name="seatsInput", type="text", ng-model="vm.carpool.size",
                        aio-validate-number, required)
                .error-icon(ng-show="vm.carpoolForm.seatsInput.$invalid && vm.carpoolForm.seatsInput.$dirty")
                    i.icon.icon--red.icon--circled.mdi.mdi-minus.icon-breath-animation(
                        ng-mouseenter="vm.carpoolForm.seatsInput.showError = true",
                        ng-mouseleave="vm.carpoolForm.seatsInput.showError = false"
                    )       
    .actions(class="mt p+")
        button.btn.btn--m.btn--white.btn--raised.btn-cancel(
            ng-click="vm.cancel()",
            ng-disabled="vm.isRequest"
        ) Cancel
        button.btn.btn--m.btn--green.btn--raised.btn-save(type="submit",
            ng-click="vm.submitForm(vm.phone)",
            ng-disabled="vm.phoneForm.$invalid || vm.phoneForm.$pristine || !vm.phone.releaseDate || vm.isRequest",
            aio-loading-button="vm.isRequest",
        ) Save
